# Python virtual environment
backend/venv/

# Python cache
backend/__pycache__/
*.pyc

# Upload & processed folders
backend/uploads/
backend/processed/

# Environment files
.env

# VS Code settings (optional)
.vscode/